<div class="row"  style="margin-top: 25px;">
    <div class="col-3 main-bottom-section" style="float: left; max-height: 660px; overflow-y: scroll;">
        <h3 class="selector--header" style="text-align: center; margin-top: 15px;">List of Industries</h3>
        <br>
        <mat-list role="list" *ngFor="let industry of uniqueIndustries">
            <mat-list-item role="listitem" style="color:#fff; font-size:13px;">{{ industry }}</mat-list-item>
        </mat-list>
    </div>
    <div class="col-1" style="background: transparent"></div>
    <div class="col-4 main-bottom-section" style="border-right: 1px solid rgba(0,0,0, .4); max-height: 660px">
        <div class="row" style="height: 100px;">
            <div class="col-4">
                <mat-icon class="sector--labelicons bottom-svg" svgIcon="{{ sectorImages[0] }}"></mat-icon>
            </div>
            <div class="col-8">
                <h3 class="sector--label sector-title bottom-sector-title">
                    {{ sectors[0] }}
                </h3>
                <button mat-button class="sector--industrybutton sector-title-button"
                    (click)="openListOfIndustriesForSector(sectors[0])">
                    Companies
                </button>
            </div>

        </div>
        <hr>
        <div class="row" style="height: 100px;">
            <div class="col-4">
                <mat-icon class="sector--labelicons bottom-svg" svgIcon="{{ sectorImages[1] }}"></mat-icon>
            </div>
            <div class="col-8">
                <h3 class="sector--label sector-title">
                    {{ sectors[1] }}
                </h3>
                <button mat-button class="sector--industrybutton sector-title-button"
                    (click)="openListOfIndustriesForSector(sectors[1])">
                    Companies
                </button>
            </div>

        </div>
        <hr>
        <div class="row" style="height: 100px;">
            <div class="col-4">
                <mat-icon class="sector--labelicons bottom-svg" svgIcon="{{ sectorImages[2] }}"></mat-icon>
            </div>
            <div class="col-8">
                <h3 class="sector--label sector-title">
                    {{ sectors[2] }}
                </h3>
                <button mat-button class="sector--industrybutton sector-title-button"
                    (click)="openListOfIndustriesForSector(sectors[2])">
                    Companies
                </button>
            </div>

        </div>
        <hr>
        <div class="row" style="height: 100px;">
            <div class="col-4">
                <mat-icon class="sector--labelicons bottom-svg" svgIcon="{{ sectorImages[3] }}"></mat-icon>
            </div>
            <div class="col-8">
                <h3 class="sector--label sector-title">
                    {{ sectors[3] }}
                </h3>
                <button mat-button class="sector--industrybutton sector-title-button"
                    (click)="openListOfIndustriesForSector(sectors[3])">
                    Companies
                </button>
            </div>

        </div>
        <hr>
        <div class="row" style="height: 100px;">
            <div class="col-4">
                <mat-icon class="sector--labelicons bottom-svg" svgIcon="{{ sectorImages[4] }}"></mat-icon>
            </div>
            <div class="col-8">
                <h3 class="sector--label sector-title">
                    {{ sectors[4] }}
                </h3>
                <button mat-button class="sector--industrybutton sector-title-button"
                    (click)="openListOfIndustriesForSector(sectors[4])">
                    Companies
                </button>
            </div>

        </div>
    </div>
    <div class="col-4 main-bottom-section" style="max-height: 660px;">
        <div class="row" style="height: 100px;">
            <div class="col-4">
                <mat-icon class="sector--labelicons bottom-svg" svgIcon="{{ sectorImages[5] }}"></mat-icon>
            </div>
            <div class="col-8">
                <h3 class="sector--label sector-title bottom-sector-title">
                    {{ sectors[5] }}
                </h3>
                <button mat-button class="sector--industrybutton sector-title-button"
                    (click)="openListOfIndustriesForSector(sectors[5])">
                    Companies
                </button>
            </div>

        </div>
        <hr>
        <div class="row" style="height: 100px;">
            <div class="col-4">
                <mat-icon class="sector--labelicons bottom-svg" svgIcon="{{ sectorImages[6] }}"></mat-icon>
            </div>
            <div class="col-8">
                <h3 class="sector--label sector-title">
                    {{ sectors[6] }}
                </h3>
                <button mat-button class="sector--industrybutton sector-title-button"
                    (click)="openListOfIndustriesForSector(sectors[6])">
                    Companies
                </button>
            </div>

        </div>
        <hr>
        <div class="row" style="height: 100px;">
            <div class="col-4">
                <mat-icon class="sector--labelicons bottom-svg" svgIcon="{{ sectorImages[7] }}"></mat-icon>
            </div>
            <div class="col-8">
                <h3 class="sector--label sector-title">
                    {{ sectors[7] }}
                </h3>
                <button mat-button class="sector--industrybutton sector-title-button"
                    (click)="openListOfIndustriesForSector(sectors[7])">
                    Companies
                </button>
            </div>

        </div>
        <hr>
        <div class="row" style="height: 100px;">
            <div class="col-4">
                <mat-icon class="sector--labelicons bottom-svg" svgIcon="{{ sectorImages[8] }}"></mat-icon>
            </div>
            <div class="col-8">
                <h3 class="sector--label sector-title">
                    {{ sectors[8] }}
                </h3>
                <button mat-button class="sector--industrybutton sector-title-button"
                    (click)="openListOfIndustriesForSector(sectors[8])">
                    Companies
                </button>
            </div>

        </div>
        <hr>
        <div class="row" style="height: 100px;">
            <div class="col-4">
                <mat-icon class="sector--labelicons bottom-svg" svgIcon="{{ sectorImages[9] }}"></mat-icon>
            </div>
            <div class="col-8">
                <h3 class="sector--label sector-title">
                    {{ sectors[9] }}
                </h3>
                <button mat-button class="sector--industrybutton sector-title-button"
                    (click)="openListOfIndustriesForSector(sectors[9])">
                    Companies
                </button>
            </div>

        </div>
    </div>
</div>




<!-- <div class="cp-main-grid-container">
    <div class="cp-main-grid-container__item cp-main-grid-container__item--1">
        <div class="inside_sector_container">
            <div class="inside_sector_container__item inside_sector_container__item--1">
                <mat-icon class="sector--labelicons" svgIcon="{{ sectorImages[0] }}"></mat-icon>
            </div>
            <div class="inside_sector_container__item inside_sector_container__item--2">
                <button mat-button class="sector--industrybutton"
                    (click)="openListOfIndustriesForSector(sectors[0])">Companies</button>
            </div>
            <div class="inside_sector_container__item inside_sector_container__item--3">
                <h3 class="sector--label">{{ sectors[0] }}</h3>
            </div>
        </div>
        <div>
            <span class="sector--smalllabel">Average Market Cap:</span>
        </div>
        <div style="display: block; width:500px; text-align:center;">
            <canvas id="industry">{{ industryChart }}</canvas>
        </div>
    </div>
    <div class="cp-main-grid-container__item cp-main-grid-container__item--2">
        <div class="inside_sector_container">
            <div class="inside_sector_container__item inside_sector_container__item--1">
                <mat-icon class="sector--labelicons" svgIcon="{{ sectorImages[1] }}"></mat-icon>
            </div>
            <div class="inside_sector_container__item inside_sector_container__item--2">
                <button mat-button class="sector--industrybutton"
                    (click)="openListOfIndustriesForSector(sectors[1])">Companies</button>
            </div>
            <div class="inside_sector_container__item inside_sector_container__item--3">
                <h3 class="sector--label">{{ sectors[1] }}</h3>
            </div>
        </div>
    </div>
    <div class="cp-main-grid-container__item cp-main-grid-container__item--3">
        <div class="inside_sector_container">
            <div class="inside_sector_container__item inside_sector_container__item--1">
                <mat-icon class="sector--labelicons" svgIcon="{{ sectorImages[2] }}"></mat-icon>
            </div>
            <div class="inside_sector_container__item inside_sector_container__item--2">
                <button mat-button class="sector--industrybutton"
                    (click)="openListOfIndustriesForSector(sectors[2])">Companies</button>
            </div>
            <div class="inside_sector_container__item inside_sector_container__item--3">
                <h3 class="sector--label">{{ sectors[2] }}</h3>
            </div>
        </div>
    </div>
    <div class="cp-main-grid-container__item cp-main-grid-container__item--4">
        <div class="inside_sector_container">
            <div class="inside_sector_container__item inside_sector_container__item--1">
                <mat-icon class="sector--labelicons" svgIcon="{{ sectorImages[3] }}"></mat-icon>
            </div>
            <div class="inside_sector_container__item inside_sector_container__item--2">
                <button mat-button class="sector--industrybutton"
                    (click)="openListOfIndustriesForSector(sectors[3])">Companies</button>
            </div>
            <div class="inside_sector_container__item inside_sector_container__item--3">
                <h3 class="sector--label">{{ sectors[3] }}</h3>
            </div>
        </div>
    </div>
    <div class="cp-main-grid-container__item cp-main-grid-container__item--5">
        <div class="inside_sector_container">
            <div class="inside_sector_container__item inside_sector_container__item--1">
                <mat-icon class="sector--labelicons" svgIcon="{{ sectorImages[4] }}"></mat-icon>
            </div>
            <div class="inside_sector_container__item inside_sector_container__item--2">
                <button mat-button class="sector--industrybutton"
                    (click)="openListOfIndustriesForSector(sectors[4])">Companies</button>
            </div>
            <div class="inside_sector_container__item inside_sector_container__item--3">
                <h3 class="sector--label">{{ sectors[4] }}</h3>
            </div>
        </div>
    </div>
    <div class="cp-main-grid-container__item cp-main-grid-container__item--6">
        <div class="inside_sector_container">
            <div class="inside_sector_container__item inside_sector_container__item--1">
                <mat-icon class="sector--labelicons" svgIcon="{{ sectorImages[5] }}"></mat-icon>
            </div>
            <div class="inside_sector_container__item inside_sector_container__item--2">
                <button mat-button class="sector--industrybutton"
                    (click)="openListOfIndustriesForSector(sectors[5])">Companies</button>
            </div>
            <div class="inside_sector_container__item inside_sector_container__item--3">
                <h3 class="sector--label">{{ sectors[5] }}</h3>
            </div>
        </div>
    </div>
    <div class="cp-main-grid-container__item cp-main-grid-container__item--7">
        <div class="inside_sector_container">
            <div class="inside_sector_container__item inside_sector_container__item--1">
                <mat-icon class="sector--labelicons" svgIcon="{{ sectorImages[6] }}"></mat-icon>
            </div>
            <div class="inside_sector_container__item inside_sector_container__item--2">
                <button mat-button class="sector--industrybutton"
                    (click)="openListOfIndustriesForSector(sectors[6])">Companies</button>
            </div>
            <div class="inside_sector_container__item inside_sector_container__item--3">
                <h3 class="sector--label">{{ sectors[6] }}</h3>
            </div>
        </div>
    </div>
    <div class="cp-main-grid-container__item cp-main-grid-container__item--8">
        <div class="inside_sector_container">
            <div class="inside_sector_container__item inside_sector_container__item--1">
                <mat-icon class="sector--labelicons" svgIcon="{{ sectorImages[7] }}"></mat-icon>
            </div>
            <div class="inside_sector_container__item inside_sector_container__item--2">
                <button mat-button class="sector--industrybutton"
                    (click)="openListOfIndustriesForSector(sectors[7])">Companies</button>
            </div>
            <div class="inside_sector_container__item inside_sector_container__item--3">
                <h3 class="sector--label">{{ sectors[7] }}</h3>
            </div>
        </div>
    </div>
    <div class="cp-main-grid-container__item cp-main-grid-container__item--9">
        <div class="inside_sector_container">
            <div class="inside_sector_container__item inside_sector_container__item--1">
                <mat-icon class="sector--labelicons" svgIcon="{{ sectorImages[8] }}"></mat-icon>
            </div>
            <div class="inside_sector_container__item inside_sector_container__item--2">
                <button mat-button class="sector--industrybutton"
                    (click)="openListOfIndustriesForSector(sectors[8])">Companies</button>
            </div>
            <div class="inside_sector_container__item inside_sector_container__item--3">
                <h3 class="sector--label">{{ sectors[8] }}</h3>
            </div>
        </div>
    </div>
    <div class="cp-main-grid-container__item cp-main-grid-container__item--10">
        <div class="inside_sector_container">
            <div class="inside_sector_container__item inside_sector_container__item--1">
                <mat-icon class="sector--labelicons" svgIcon="{{ sectorImages[9] }}"></mat-icon>
            </div>
            <div class="inside_sector_container__item inside_sector_container__item--2">
                <button mat-button class="sector--industrybutton"
                    (click)="openListOfIndustriesForSector(sectors[9])">Companies</button>
            </div>
            <div class="inside_sector_container__item inside_sector_container__item--3">
                <h3 class="sector--label">{{ sectors[9] }}</h3>
            </div>
        </div>
    </div>
    <div class="cp-main-grid-container__item cp-main-grid-container__item--11">
        <span class="selector--header">List of Industries</span>
        <br>
        <mat-list role="list" *ngFor="let industry of uniqueIndustries">
            <mat-list-item role="listitem" style="color:#fff; font-size:13px;">{{ industry }}</mat-list-item>
        </mat-list>
    </div>
</div> -->