<!--The content below is only a placeholder and can be replaced.-->
<mat-drawer-container>
  <mat-drawer #drawer mode="side">
    <mat-list role="list">
      <mat-list-item role="listitem">Postgress (Docker)</mat-list-item>
      <mat-list-item role="listitem">API within Angular Frontend</mat-list-item>
      <mat-list-item role="listitem">API from Python Backend</mat-list-item>
      <mat-list-item role="listitem">API Spring Boot</mat-list-item>
      <mat-list-item role="listitem">IoT Interaction</mat-list-item>
      <mat-list-item role="listitem">Lambda Processing</mat-list-item>
    </mat-list>
  </mat-drawer>
  <div style="height:100vh">
    <mat-toolbar>
      <mat-toolbar-row>
        <button mat-button (click)="drawer.toggle()">
          <mat-icon svgIcon="beaker">home</mat-icon>
        </button>
        <span> MDAS Python Data Science IoT Project</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <div *ngIf="chart" style="position: relative; height:20vh; width:60vw; margin:15px;">
      <canvas id="ctx">{{ chart }}</canvas>
    </div>

  </div>
</mat-drawer-container>
<router-outlet></router-outlet>