
infrastructure/terraform/.terraform/plugins/windows_amd64/lock.json
infrastructure/terraform/.terraform/plugins/windows_amd64/terraform-provider-aws_v2.12.0_x4.exe
infrastructure/terraform/terraform.tfvars
