mat-toolbar.mat-primary {
    background-color: $secondary !important;
}

.mat-drawer-content{
    // background-color: $secondary !important;
    // background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(43, 94, 117, 0.3)), url('../assets/imgs/industry_bg.jpg'), #000;
    // background: linear-gradient(0deg, rgba(0, 0, 0, 0.54), rgb(21, 45, 60)), url('../assets/imgs/industry_bg.jpg'), #000;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.78), #0b1922), url('../assets/imgs/industry_bg.jpg'), #000;
    background-size: cover;
}

.toolbar-container{
    &--name{
        color: $accent3;
        font-family: 'Roboto', sans-serif, bold;
    }
    &--icon{
        color: $accent3;
    }
    &--list{
        color: $accent2;
        padding:35px;
    }
    &--spacer{
        flex: 1 1 auto;
    }
}
.mat-drawer-inner-container{
    overflow: hidden !important;
    background-color: $secondary;
}